<div ng-model="leftView" ng-init="whichView=''">
	<div class="jumbotron">
	  <h1>Make A Vote</h1>
	  <p class="lead">
	     Let's give people something to choose for
	  </p>
	  <div class="row">
	  	<div class="btn-group" role="group">
		  <button type="button" class="btn btn-primary" ng-click="whichView='addPoll'">New Poll</button>
		  <button type="button" class="btn btn-success" ng-click="whichView='getPolls'; getPolls()">My Polls</button>
		</div>
	 </div>
	</div>

	<div class="container" >
	<!-- addPoll VIEW -->
		<div ng-show="whichView==='addPoll'" class="animate-if">
	      <form class="">
	        <h2 class="form-signin-heading">New Poll</h2>
	        <label for="inputName" class="">Name your Poll</label>
	        <input type="text"  id="poll_name" class="form-control" placeholder="What is your favorite drink?">
	        
	        <label for="options1" class="">Options</label>
	        <div class="" id="options-field">
		        <input type="text" id="options1" class="form-control" placeholder="coke" ng-model="options1">
		         <input type="text" id="options2" class="form-control" placeholder="pepsi" ng-model="options2">
	         </div>
	         <br/>
	      	<button class="btn btn-md btn-default btn-block" ng-click="moreOptions();" id="more-options" >More Options</button>
	        <button class="btn btn-lg btn-primary btn-block" ng-click="submitPolls()">Submit</button>
	      </form>
		</div>

		<!-- getPolls VIEW -->
		<div ng-show="whichView==='getPolls'" class="animate-if">
		<div ng-repeat="vote in votes" class="col-md-12" >
			<div class="form-inline well" style="cursor:pointer;" 
			     ng-click="getOne(vote._id);">
			<div class="form-group" >
				<p class="navbar-text">{{vote.VoteTitle}} </p>
				<p class="sr-only">
			</div>
			<div class="form-group" style="float:right;">
				<button class="btn-lg btn-danger" ng-click="delete(vote._id)">Delete</button>
			</div>
			</div>
		</div>
		</div>

		<!-- getOnePoll VIEW -->
			<div ng-show="whichView==='getOnePoll'" class="animate-if" rel="right-view">
				<h2 class="">{{oneVote.VoteTitle}}</h2>
				<div class="row" ng-repeat="voteChoice in oneVote.VoteChoices" >
					<div class="col-md-10" >
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						    {{voteChoice.voteName}} : {{voteChoice.vote}}
						  </div>
						</div>
					</div>
					<div class="col-md-1">
						<div class=" value">
							<label class="">
							{{voteChoice.votePercentage}}%</label>
						</div>		
					</div>
					<div class="col-md-1">
						<button class="btn-sm btn-success" style="width: 50px; height:20px;line-height:5px;" ng-click="plusOne(oneVote._id, voteChoice._id)"> &plus;</button>		
					</div>
				</div>
				<h4>Total Votes: {{totalVotes}}</h4>
			</div>
		</div>
		</div>
	</div>
</div>